
header{
    height: 10px;
    width: 100%;
    background-size: cover;
    padding: 50px;
    background-color: #2C3446;
  position: fixed;
  top: 0px;

}
 header nav ul li a{
    text-decoration: none;
    text-align: center;
    color: rgb(65, 60, 60);
    font-size: 40px;
    font-family: 'Balsamiq Sans', cursive;
    padding: 35px;
    color: #ff4e65;
}
nav ul li{
    display: inline-block;
   
}
main{
  margin-left: 350px;
}
section p { 
   width: 850px;
   height: 200px;
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
}
#location{
  text-align: center;
  font-size: small;
  border-radius: 40px;
  font-family: 'Times New Roman', Times, serif;
}
 article h1{
   font-family: 'Times New Roman', Times, serif;
   font-size: 70px;
    margin-top: 200px;
    padding: 50px;
    margin-left: 0%;
    font-family: 'Luckiest Guy', cursive;
    color: #ff4e65;
}
    #family{margin-top: 100px;

}
p strong{
  font-size: 30px;
}
footer{
  padding-top: 50px;
    clear: both;
    width: 100%;
    height: 100px;
    background-color: #2C3446;
    color:  #ff4e65;   
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
  }
  
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
  
  .fa-tumblr {
    background: #2c4762;
    color: white;
  }
  
  .fa-vine {
    background: #00b489;
    color: white;
  }
  
  .fa-foursquare {
    background: #45bbff;
    color: white;
  }
  
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  
  .fa-flickr {
    background: #f40083;
    color: white;
  }
  
  .fa-yahoo {
    background: #430297;
    color: white;}

    fieldset h1{
      font-size: 30px;
      padding-top: -1000px;
      font-family: 'Luckiest Guy', cursive;
      color:  #ff4e65;  
    }
 fieldset form{
   border: solid;
   padding: 30px;
   width: 44%;
   margin-top: 60px;
   margin-left: 35px;
 }

fieldset form #location{
  margin-top: 10px;
}
fieldset form #average{
  margin-top: 10px;
}
fieldset form #max{
  margin-right: 10px;
  padding-right: 10px;
}
fieldset form #min{
  margin-right: 10px;
  padding-right: 10px;
}
fieldset form .submit {
  background-color: #555555;
  color: white;
  margin-top:10px ;
}
fieldset form #average{
  padding-right: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#8b6ab3;
  background-color:#fafbfd;
}
.blue { color: #abd6eb; }
.yellow { color: #FFF842; }

#container th {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

#container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

#container {
	  text-align: left;
	  overflow: hidden;
    width: 30%;
    height: 40%;
	  margin: 0 35px;
  display: table;
  padding: 0 0 2em 0;
}

#container td, #container th {
	  padding-bottom: 3%;
	  padding-top: 3%;
  padding-left:2%;  
}
#container tr:nth-child(odd) {
	  background-color: #323C50;
}


#container tr:nth-child(even) {
	  background-color: #2C3446;
}

#container th {
    background-color:  #2C3446;
    color: white;
    padding: 0.3rem;
}
#container th:first-child {padding: 2rem; }
#container td:first-child { padding: 0.5rem; 
  color: #FB667A;
 }

#container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

#container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
#container td:nth-child(4),
#container th:nth-child(4) { display: none; }
}

#cookies{
  background-image: url(https://image.freepik.com/free-photo/cookies-plate-with-white-background_23-2148240625.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
